# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Proprietary
assets/proprietary/*.json
assets/proprietary/*.png
assets/proprietary/*.jpg

# Build
build/
dist/
/npm-debug.log
