# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Proprietary
assets/diggerpack/*.json
assets/diggerpack/*.png
assets/diggerpack/*.jpg

# Build
build/
dist/
/npm-debug.log
